body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: linear-gradient(to bottom right, #2C3E50, #FD746C, #FF8235, #ffff1c, #92FE9D, #00C9FF, #a044ff, #e73827);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
}

.content {
    width: 700px;
    margin: auto;
}

.content h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px black;
}

.content h1 .blue {
    color: blue;
    font-size: 1.3em;
}

.content h1 .red {
    color: red;
    font-size: 1.5em;
}

.content h1 .green {
    color: green;
    font-size: 1.2em;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
}

.winner {
    font-size: 26px;
    text-shadow: 2px 2px 5px #999;
    cursor: pointer;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    width: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    box-shadow: 0px 0px 3px #999;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 200px;
    text-align: center;
}

.game-info {
    margin-left: 20px;
}

.instructions {
    margin-top: 2em;
    padding: 3em;
    border: 1px dotted rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* Animation */

@keyframes gradient {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 100% 100%
    }
    100% {
        background-position: 0% 0%
    }
}